<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoCrispy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AutoCrispy.My.MySettings>
            <setting name="Input" serializeAs="String">
                <value />
            </setting>
            <setting name="Output" serializeAs="String">
                <value />
            </setting>
            <setting name="Noise" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TAA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaifuTTA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaifuOCL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaifuDGPU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A4KPasses" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="A4KPColors" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="A4KCStrength" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="A4KGradStrength" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="A4KPreCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="A4KPostCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A4KGPUCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="A4KCNNCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BindingString" serializeAs="String">
                <value>02102010001010</value>
            </setting>
            <setting name="ThreadCount" serializeAs="String">
                <value>1</value>
            </setting>
        </AutoCrispy.My.MySettings>
    </userSettings>
</configuration>